* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #000000;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

/* header {
  margin-top: 25px;
} */

img {
  display: block;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

#main-box {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 470px;
  margin: auto;
  border-radius: 30px;
  padding: 20px;
  background-color: #fff200fd;
}

#site-logo {
  width: 80px;
  margin-bottom: 10px;
  border-radius: 40px;
}

#options-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin-top: 20px;
}

#options-box a {
  display: block;
  font-size: 22px;
  font-weight: bold;
  text-decoration: none;
  color: #0f87e2;
}

.btn-link-box {
  width: 270px;
  border-radius: 50px;
  padding: 10px;
  text-align: center;
  background-color: #000000;
}

.btn-link-box:hover {
  border: 5px double #ffffff;
  cursor: pointer;
}

.sign_up-sign_in {
  display: inline-block !important;
  margin: 10px 50px 0 50px;
  font-size: 18px !important;
  font-weight: normal !important;
  color: #422727 !important;
}

.sign_up-sign_in:hover {
  text-decoration: underline !important;
}

/* sign up form */
#sign_up-box {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: none;
  flex-flow: column nowrap;
  width: 650px;
  border-radius: 30px;
  border: 1px groove #dccece;
  text-align: center;
  background-color: #ffffff;
  box-shadow: 0 8px 24px 0 rgba(0, 0, 0, 0.2);
}

#heading-box {
  position: relative;
  width: 100%;
  border-radius: 30px 30px 0 0;
  padding: 25px;
  text-align: center;
  background-color: #eff0f1;
}

#heading-box img {
  position: absolute;
  width: 30px;
  border-radius: 50px;
  top: 10px;
  left: 20px;
}

#form-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  padding: 50px 0 20px 0;
}

#homepage input[type="text"],
#homepage input[type="password"] {
  height: 55px;
  border: 2px groove #ffffff;
  border-radius: 5px;
  padding: 10px 15px;
  font-size: 18px;
  outline: none;
}

#homepage input[type="text"]:focus,
#homepage input[type="password"]:focus {
  border: 1px solid #0071e3;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.input-name {
  margin-top: 15px;
  width: 220px;
}

#homepage #username,
#homepage input[type="password"] {
  width: 443px;
}

.input-box {
  display: inline-block;
  position: relative;
}

.placeholder-label {
  position: absolute;
  left: 15px;
  top: 15px;
  transition: top 0.3s, font-size 0.3s;
  font-size: 18px;
  color: #8c8784;
}

#homepage label[for="first_name"],
#homepage label[for="last_name"] {
  top: 30px;
}

#homepage #username:focus + label,
#homepage .has-text + label,
#homepage #sign_in-username:focus + label,
#homepage .has-text + label,
#homepage input[type="password"]:focus + label,
#homepage .has-text + label {
  top: 4px;
  font-size: 12px;
}

.input-name:focus + label {
  top: 18px;
  font-size: 12px;
}

.btn {
  border-radius: 5px;
  padding: 7px 15px;
  cursor: pointer;
  font-size: 16px;
}

#homepage input[type="button"] {
  border: 2px solid #dadada;
  color: #298fdf;
}

#homepage input[type="submit"] {
  border: 2px solid #1f8adb;
  background-color: #298fdf;
  color: #ffffff;
}

#btn-box {
  width: 100%;
  margin-top: 35px;
  border-radius: 0 0 30px 30px;
  padding: 20px;
  text-align: end;
  background-color: #f7f7f7;
}

/* sign in form */
#sign_in-box {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: none;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  gap: 30px;
  width: 650px;
  border-radius: 30px;
  border: 1px groove #dccece;
  padding: 40px 0;
  box-shadow: 0 8px 24px 0 rgba(0, 0, 0, 0.2);
  background-color: #ffffff;
}

#sign_in-form-box {
  text-align: center;
}

#sign_in-username {
  border-radius: 15px;
  width: 500px;
}

#sign_in-password {
  width: 500px;
  border-radius: 0 0 15px 15px;
}

#sign_in-username:focus,
#sign_in-password:focus {
  border: 2px solid #0071e3;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}

#forward-icon-username, #forward-icon-password {
  display: block;
  width: 30px;
  position: absolute;
  top:12px;
  right: 15px;
  cursor: pointer;
}

#forward-icon-password {
  display: none;
}

#site_logo-box {
  width: 150px;
}

#site_logo-box img {
  display: inline-block;
  width: 100%;
  border-radius: 100px;
}

#checkbox-box {
  margin-top: 70px;
  color: #4a4848;
}

#forgot-box {
  margin-top: 30px;
}

#forgot-box a {
  display: block;
  margin-bottom: 10px;
}

#input-box-password {
  height: 0;
  overflow: hidden;
  transition: height 0.3s ease-in-out;
}

.error-message {
  margin-top: 10px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: small;
  color: #ff0000;
}

/* sidebar */
#sidebar-box {
  /* z-index: 1; */
  font-family: sans-serif;
}

#sidebar-items-box {
  position: fixed;
  left: -250px;
  width: 260px;
  height: 100dvh;
  padding: 20px 30px;
  background-color: #000000;
  transition: all 0.5s ease;
}

#sidebar-header {
  margin: 10px;
  user-select: none;
  text-align: center;
  text-transform: uppercase;
  color: #FFC000;
}

#sidebar-items-box ul a {
  display: block;
  line-height: 65px;
  font-size: 20px;
  color: #ffffff;
  border-top: 1px solid #3b3a3a2a;
  border-bottom: 1px solid #4f4c4c65;
  transition: 0.4s;
}

#sidebar-items-box ul li:hover a {
  padding-left: 10px;
}

.menu-icon {
  margin-right: 16px;
  color: #FFC000;
}

/* #sign_up-in-out {
  margin-top: 150px;
} */

label #btn,
label #cancel {
  position: fixed;
  top: 25px;
  border-radius: 5px;
  cursor: pointer;
  color: #ffffff;
}

label #btn {
  left: 40px;
  font-size: 35px;
  transition: all 0.5s;
}

#check, #cancel {
  display: none;
}

#cancel {
  z-index: 1;
  left: 215px;
  font-size: 30px;
  transition: all 0.5s ease;
}

label #btn:hover, #cancel:hover {
  color: #FFC000;
}

#check:checked + label #btn {
  display: none;
}

#check:checked + label #cancel {
  display: block;
}

#check:checked ~ #sidebar-items-box {
  left: 0;
  box-shadow: 2px 0 2px #FFC000;
}


/* about */
#about-box {
  display: flex;
  flex-direction: row;
  justify-content:space-between;
  align-items: center;
  gap: 50px;
  padding: 80px;
  font-family: sans-serif;
  color: #ffffff;
}

#about-box #site-logo {
  width: 30%;
}

#text-box h1 {
  font-size: 80px;
  text-transform: capitalize;
  margin-bottom: 20px;
}

#text-box h5 {
  font-size: 25px;
  margin-bottom: 25px;
  letter-spacing: 2px;
}

#text-box p {
  color: #dcdc93;
  letter-spacing: 1px;
  line-height: 28px;
  font-size: 18px;
  margin-bottom: 45px;
}

#about-box #btn {
  background: #FFC000;
  color: black;
  text-decoration: none;
  border:2px solid transparent;
  font-weight: bold;
  padding: 13px 30px;
  border-radius: 30px;
  transition: 0.4s; 
}

#about-box #btn:hover {
  color: #ffffff;
  background: transparent;
  border: 2px solid #FFC000;
  cursor: pointer;
}


@media only screen and (max-width: 500px), (max-height: 500px) {
  #main-box {
    width: 300px;
    margin: 10px auto;
    border-radius: 30px;
    padding: 20px;
    background-color: #fff200fd;
    text-align: center;
  }

  #sign_up-box {
    width: 300px;
    margin: 10px auto !important;
    border-radius: 20px;
    text-align: center;
  }

  #heading-box {
    padding: 20px;
    text-align: center;
    font-size: 15px;
  }

  #form-box {
    padding: 20px 0;
  }

  #btn-box {
    margin-top: 0;
    padding: 10px;
  }
  
  #sign_in-box {
    gap: 30px;
    width: 300px;
    border-radius: 20px;
    border: 1px groove #dccece;
    padding: 20px 0;
    box-shadow: 0 8px 24px 0 rgba(0, 0, 0, 0.2);
    background-color: #ffffff;
    text-align: center;
  }

  #site_logo-box img {
    width: 70%;
  }
  
  #homepage input[type="text"],
  #homepage input[type="password"] {
    width: 220px !important;
  }

  #checkbox-box {
    margin-top: 10px;
  }

  .error-message {
    margin-top: 5px;
  }

  /* about */
  #about-box {
      display: flex;
      flex-flow: column nowrap;
      align-items: center;
      justify-content: center;
      gap: 50px;
  }

  #about-box #site-logo {
      width: 80%;
  }
}
